/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos { compatible = "zmk,combos"; };

    behaviors {
        ctrl_delete: ctrl_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_DELETE";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  F  |  P  |  G  |           |  J  |  L   |  U  |  Y  |  ;  |   -  |
            // | CTRL |  A  |  R  |  S  |  T  |  D  |           |  H  |  N   |  E  |  I  |  O  |  '   |
            // | LGUI |  Z  |  X  |  C  |  V  |  B  |           |  K  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | LWR |LSHFT| SPC |           | DEL | ENTR | RSE |

            display-name = "Base";
            bindings = <
&kp TAB     &kp Q  &kp W  &kp F  &kp P           &kp G           &kp J         &kp L      &kp U      &kp Y    &kp SEMI  &kp MINUS
&kp LCTRL   &kp A  &kp R  &kp S  &kp T           &kp D           &kp H         &kp N      &kp E      &kp I    &kp O     &kp SQT
&kp LALT    &kp Z  &kp X  &kp C  &kp V           &kp B           &kp K         &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp ENTER
                          &mo 1  &kp LEFT_SHIFT  &kp SPACE       &ctrl_delete  &kp RIGHT_GUI  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #  |  $  |  %  |           |  ^  |  &  |  *  |  (  |  )  |      |
            // |      |  1  |  2  |  3  |  4  |  5  |           |  6  |  7  |  8  |  9  |  0  |      |
            // | LALT |  [  |  ]  |  {  |  }  |  `  |           |  ~  |  +  |  =  |  |  |  \  |      |
            //                    |     |     |     |           |     |     |     |

            display-name = "Lower";
            bindings = <
&kp ESC  &trans  &trans  &trans  &trans  &kp LC(PRINTSCREEN)        &trans         &kp HOME       &kp UP    &kp END    &kp PAGE_UP    &trans
&trans  &trans  &trans  &trans  &trans  &kp PRINTSCREEN            &trans         &kp LEFT       &kp DOWN  &kp RIGHT  &kp PAGE_DOWN  &trans
&trans  &trans  &trans  &trans  &trans  &kp LA(PRINTSCREEN)        &trans         &trans         &trans    &trans     &trans         &trans
                                     &trans  &trans  &trans                     &trans         &trans         &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // | LPRNT|     |     |     |     |     |           |     | HME |  UP | END | PUP |      |
            // | PRNT |     |     |     |     |     |           |     | LFT | DWN | RGT | PDWN|      |
            // | APRNT|     |     |     |     |     |           |     |     |     |     |     |      |
            //                    |     |     |     |           |     |     |     |

            display-name = "Raise";
            bindings = <
&kp ESC        &kp LS(EXCL)      &kp LS(AT)         &kp LS(POUND)   &kp LS(DLLR)     &kp LS(PRCNT)    &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)   &trans
&trans        &kp N1            &kp N2             &kp N3          &kp N4           &kp N5           &kp N6         &kp N7        &kp N8        &kp N9        &kp N0         &trans
&trans      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp GRAVE        &kp TILDE      &kp PLUS      &kp EQUAL     &kp PIPE      &kp BACKSLASH  &trans
                                                   &trans          &trans           &trans           &trans         &trans        &trans
            >;
        };

        adjust_layer {
            // -----------------------------------------------------------------------------------------
            // | BTCLR| B1 | BT2 | BT3 | BT4 | BT5 |            | DC1 | DC2 | DC3 | DC4 | DC5 | BTCLR|
            // |  F1  |  F2 |  F3 |  F4 |  F5 |  F6 |           |  F7 |  F8 |  F9 | F10 | F11 |  F12 |
            // |      |     |     |     |     |     |           |     |     |     |     |     |      |
            //                    |     |     |     |           |     |     |     |

            display-name = "Adjust";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &bt BT_CLR
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7         &kp F8         &kp F9         &kp F10        &kp F11        &kp F12
&trans      &trans        &trans        &trans        &trans        &trans          &trans         &trans         &trans         &trans         &trans         &trans
                                   &trans        &trans        &trans        &trans          &trans         &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
